[submodule "sbt-contract/lib/forge-std"]
	path = sbt-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sbt-contract/lib/openzeppelin-contracts"]
	path = sbt-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "hon-contract/lib/forge-std"]
	path = hon-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hon-contract/lib/openzeppelin-contracts"]
	path = hon-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "sbt-quest-contract/lib/forge-std"]
	path = sbt-quest-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "sbt-quest-contract/lib/openzeppelin-contracts"]
	path = sbt-quest-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
